body
{
font-family:arial,sans-serif;
background-color:white;
}
header
{
text-align:center;
padding:10px;
background-color:#f4f4f4;
border-radius:20px;
margin:0 auto;
}
header img
{
width:150px;
height:150px;
border-radius:50%;
margin-botto:10px;
}
section
{
margin:100px;
background-color:#f4f4f4;
border-radius:20px;
}
.project{
width:200px;
heigth:100px;
display:block
margin:10px;
text-align:center;
line-heigth:200px;
}
h1,h2{
color:#333;
}
#bio,#work,#qualification
{
background-color:#e9e9e9;
padding:15px;
}
footer
{
background-color:#f4f4f4;
text-align:center;
padding:10px;
border-radius:15px;
}
form
{
width:600px;
margin:0 auto;
justify-content:center;
background-color:grey;
padding:2px;
border-radius:20px;
box-shadow:2 0 10px rgba(0,0,0,0.3);
}


